DB_URL=jdbc:mysql://localhost:3306/pustakaalay_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=pustakaalay
DB_PASSWORD=your_database_password_here

JWT_SECRET=yyUoVn52p/KlonI2KHhzw20HbgttcJ/0cZ9ulxXDNUz6He85LHtdYjRfB6dg2ICTHY4xaF4t4+BOB2EYcwW0ow==
JWT_EXPIRATION_MS=86400000
